@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #6DE036, #A16F9E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #A16F9E;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #E063DB;
    text-align: center;
    text-shadow: 1px 1px 1px #c71a1a;
}

h2 {
    color: #615360;
}

p {
    text-align: justify;
}
